<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'biz_new_title' %>
    <%= form.text_field :name, id: :business_name, class: 'biz_new_input' %>
  </div>

  <div class="field">
    <%= form.label :email, class: 'biz_new_title' %>
    <%= form.email_field :email, id: :email, class: 'biz_new_input' %>
  </div>

  <div class="field">
    <%= form.label :password, class: 'biz_new_title' %>
    <%= form.password_field :password, class: 'biz_new_input' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, class: 'biz_new_title' %>
    <%= form.password_field :password_confirmation, class: 'biz_new_input' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success biz_btn' %>
  </div>
<% end %>
