<% provide(:title, "Admin Portal") %>
<div class="container-fluid" style="background-color: #C0C0C0">
  <div class="row">
    <!-- Navigation Sidebar -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button class="btn btn-warning btn-block" onclick="Dashboard()">Dashboard</button><br/>
          </li>
          <li class="nav-item">
            <button class="btn btn-warning btn-block"  onclick="Users()">User Management</button><br/>
          </li>
          <li class="nav-item">
            <button class="btn btn-warning btn-block" onclick="Analytics()">Analytics</button><br/>
          </li>
          <!-- Additional links for other admin sections -->
        </ul>
      </div>
    </nav>

    <!-- Main Content Area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Admin Dashboard</h1>
      </div>

      <!-- Display General Outline -->
      <div id="Dashboard" style="display: none">
        Total Registered Users: <%= User.count %><br/>
        <h3>Server Metrics</h3>

      </div>

      <!-- Display Charts for Users -->
      <div id="Charts" style="display: none">
        <!-- Monthly New User Registration -->
        <div class="my-4 w-100">
          <h4>Monthly New User Registrations</h4>
          <%= line_chart @new_users_by_month, xtitle: "Month", ytitle: "New Users", style: 'width: 100%;' %>
        </div>

        <div class="my-4 w-100">
          <h4>Daily User Activity</h4>
          <!--<%= line_chart @daily_user_activity, xtitle: "Day", ytitle: "Active Users" %>-->
        </div>

      </div>

      <!-- Display User Management -->
        <div id="UserManage" style="display: none">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>View Account</th>
                <th>Change Password</th>
                <th>Delete User</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <% if user.avatar.attached? %>
                      <%= image_tag user.avatar, class: 'user_card_avatar', style: 'width: 25px; height: 25px;' %>
                    <% else %>
                      <%= image_tag('hodr_logo.png', class: 'user_card_avatar', style: 'width: 25px; height: 25px;') %>
                    <% end %>
                  </td>
                  <td><%= user.uname %></td>
                  <td><%= link_to 'View Account', user_path(user) %></td>
                  <td><%= link_to 'Change Password', '#' %></td> <!-- Adjust path as needed -->
                  <td><%= link_to 'Delete Account', '#' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= will_paginate @users %>
        </div>

      </div>



      <!-- Additional sections for other analytics or management tools can be added here -->
    </main>
  </div>
</div>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "chartkick" %>

<script>
function Analytics()
{
  var a = document.getElementById("Charts");
  if (a.style.display === "none")
  {
    a.style.display = "block";
    document.getElementById("UserManage").style.display = "none";
    document.getElementById("Dashboard").style.display = "none";
  }
  else
  {
    a.style.display = "none";
  }
}

function Users()
{
  var b = document.getElementById("UserManage");
  if (b.style.display === "none")
  {
    b.style.display = "block";
    document.getElementById("Charts").style.display = "none";
    document.getElementById("Dashboard").style.display = "none";
  }
  else
  {
    b.style.display = "none";
  }
}

function Dashboard()
{
  var c = document.getElementById("Dashboard");
  if (c.style.display === "none")
  {
    c.style.display = "block";
    document.getElementById("Charts").style.display = "none";
    document.getElementById("UserManage").style.display = "none";
  }
  else
  {
    c.style.display = "none";
  }
}
</script>
