<% provide(:title, "Contact") %>
<div class="contact-page bg-dark text-light">
  <div class="container py-5">
    <h1>Contact Us</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Contact Details</h3>
        <p>Alien Agent ~ Developer & Server Admin | <a href="mailto:dev@hodr.me">dev@hodr.me</a></p>
        <p>Silver Spider ~ Marketing & Promotion Specialist | <a href="mailto:silder@hodr.me">silder@hodr.me</a></p>
        <p>Phone ~ 972-872-5054</p>
      </div>
      <div class="col-md-6">
        <h3>Send Us a Message</h3>
        <%= form_with url: contact_path, method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :message %>
            <%= form.text_area :message, class: 'form-control' %>
          </div>
          <%= form.submit "Send Message", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
