<% provide(:title, "Contact") %>
<div style="background: url('<%= asset_path 'hodr_contact-background.png' %>') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 100%">

<div class="contact-page text-light">
  <div class="container py-5">
    <h1>Contact Us</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Contact Details</h3>
        <p>Alien Agent ~ Developer & Server Admin | <a href="mailto:dev@hodr.me">dev@hodr.me</a></p>
        <p>Phone ~ 972-872-5054</p>
      </div>
      <div class="col-md-6">
        <h3>Send Us a Message</h3>
        <%= form_with url: contact_path, method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control', style: 'background-color: rgba(0,0,0,0.6); color: #00FF00;' %>
          </div>
          <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: 'form-control', style: 'background-color: rgba(0,0,0,0.6); color: #00FF00;' %>
          </div>
          <div class="form-group">
            <%= form.label :message %>
            <%= form.text_area :message, class: 'form-control', style: 'background-color: rgba(0,0,0,0.6); color: #00FF00;' %>
          </div>
          <%= form.submit "Send Message", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
