<div class="user-profile-content">
  <h5><strong>ABOUT ME</strong> </h5>
  <p>
    <i>First Name:</i>
    <% if @user.fname.present? %>
      <%= @user.fname %>
    <% else %>
      No Name
    <% end %><br/>
    <i>Middle Name:</i>
    <% if @user.mname.present? %>
      <%= @user.mname %>
    <% else %>
      No Name
    <% end %><br/>
    <i>Last Name:</i>
    <% if @user.lname.present? %>
      <%= @user.lname %>
    <% else %>
      No Name
    <% end %>
  </p>
  <p>
    <strong>Biography:</strong><br/>
    <% if @user.bio.present? %>
      <%= @user.bio %>
    <% else %>
      No Biography Detected
    <% end %>
  </p>
  <h5><strong>FAMILY STRUCTURE</strong></h5>
  <p>
    <i>Marrital Status:</i>
    <% if @user.marital.present? %>
      <%= @user.marital %>
    <% else %>
      Syntax Error
    <% end %><br/>
    <i>Spouse's Name:</i>
    <% if @user.spouse.present? %>
      <%= @user.spouse %>
    <% else %>
      Does Not Have A Special Someone
    <% end %><br/>
    <i>Number Of Kids:</i>
    <% if @user.kids.present? %>
      <%= @user.kids %>
    <% else %>
      No Children
    <% end %><br/>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h5><strong>CONTACT ME</strong> </h5>
        <address>
          <strong>Phone</strong><br>
          <% if @user.tel.present? %>
            <%= @user.tel %>
          <% else %>
            No Phone Present
          <% end %>
        </address>
        <address>
          <strong>Email</strong><br/>
          <%= @user.email %>
        </address>
        <address>
          <strong>Address 1:</strong><br/>
          <% if @user.adr1.present? %>
            <%= @user.adr1 %>
          <% else %>
            No Address on File
          <% end %>
        </address>
        <address>
          <strong> Address 2:</strong><br/>
          <% if @user.adr2.present? %>
            <%= @user.adr2 %>
          <% else %>
            No Address on File
          <% end %>
        </address>
        <address>
          <strong>City:</strong><br/>
          <% if @user.city.present? %>
            <%= @user.city %>
          <% else %>
            No City on File
          <% end %>
        </address>
        <address>
          <strong>State:</strong><br/>
          <% if @user.state.present? %>
            <%= @user.state %>
          <% else %>
            No State on File
          <% end %>
        </address>
        <address>
          <strong>Country:</strong><br/>
          <% if @user.country.present? %>
            <%= @user.country %>
          <% else %>
            No Country on File
          <% end %>
        </address>
        <address>
          <strong>Zip Code:</strong><br/>
          <% if @user.zip.present? %>
            <%= @user.zip %>
          <% else %>
            No Zip on File
          <% end %>
        </address>
    </div>
    <div class="col-sm-6">
      <h5><strong>MY Socials</strong></h5>
      <address>
        <strong>Website</strong><br>
        <% if @user.web.present? %>
          <%= link_to @user.web, @user.web, target: "_blank" %>
        <% else %>
          404 Website Not Found
        <% end %>
      </address>
      <address>
        <strong>YouTube</strong><br/>
        <% if @user.ytube.present? %>
          <%= link_to @user.ytube, @user.ytube, target: "_blank" %>
        <% else %>
          No YouTube Channel
        <% end %>
      </address>
      <address>
        <strong>LinkedIn</strong><br/>
        <% if @user.lin.present? %>
          <%= link_to @user.lin, @user.lin, target: "_blank" %>
        <% else %>
          No LinkedIn Page
        <% end %>
      </address>
      <address>
        <strong>Twitter</strong><br/>
        <% if @user.twitter.present? %>
          <%= link_to @user.twitter, @user.twitter, target: "_blank" %>
        <% else %>
          No Twitter Account Discovered
        <% end %>
      </address>
      <address>
        <strong>Git Account</strong><br/>
        <% if @user.git.present? %>
          <%= link_to @user.git, @user.git, target: "_blank" %>
        <% else %>
          No Git Repo
        <% end %>
      </address>
    </div>
  </div><!-- End div .row -->
</div><!-- End div .user-profile-content -->
