<div class="scroll-user-widget">
  <ul class="media-list">
    <li class="media">
      <p><strong>Movies:</strong><br/>
        <% if @user.movies.present? %>
          <%= @user.movies %>
        <% else %>
          Does Not Watch Movies
        <% end %>
      </p>
    </li>
    <li class="media">
      <p><strong>Books:</strong><br/>
        <% if @user.books.present? %>
          <%= @user.books %>
        <% else %>
          Does Not Read Books
        <% end %>
      </p>
    </li>
    <li class="media">
      <p><strong>Activities:</strong><br/>
        <% if @user.activity.present? %>
          <%= @user.activity %>
        <% else %>
          Does Not Have a Life
        <% end %>
      </p>
    </li>
    <li class="media">
      <p><strong>Songs:</strong><br/>
        <% if @user.songs.present? %>
          <%= @user.songs %>
        <% else %>
          Does Not Listen to Music
        <% end %>
      </p>
    </li>
    <li class="media">
      <p><strong>Games:</strong><br/>
        <% if @user.games.present? %>
          <%= @user.games %>
        <% else %>
          Probably Has A Life As They Do Not Play Games!
        <% end %>
      </p>
    </li>
  </ul>
</div><!-- End div .scroll-user-widget -->
