<!-- Mobile Profile View -->
<div class="mobile-profile">
  <div class="content-page">
  	<div class="profile-banner" style="margin-bottom: -300px;">
    	<% if @user.banner.attached? %>
      	<%= image_tag @user.banner, class: 'profile-banner' %>
    	<% else %>
      	<%= image_tag("banner.png", class: 'profile-banner') %>
    	<% end %>
  	</div>
     	 <div class="col-sm-3 avatar-container">
    	<% if @user.avatar.attached? %>
      	<%= image_tag @user.avatar, class: "img-circle profile-avatar", alt: "User Avatar" %>
    	<% else %>
      	<%= image_tag("hodr_logo.png", class: "img-circle profile-avatar") %>
    	<% end %>
     	 </div>
  </div>
  <div class="mobile-user-info">
    <h2 class="mobile-uname"><%= @user.uname %></h2>
    <p class="mobile-account-age">Account Age: <%= ((Time.zone.now - @user.created_at) / 1.day).to_i %> days</p>
    <p class="mobile-account-age">Followers: <%= @user.followers.count %> | Following: <%= @user.following.count %></p>
    <p class="mobile-account-age">Posts: <%= @user.microposts.count %></p>
    <div class="h5">
      <%= render 'badges' %>
    </div>
    <%= render 'follow_form' if current_user != @user %>
    <div class="mobile-account-intel">
      <%= render 'family' %>
      <%= render 'status' %>
    </div>
  </div>

  <!-- Mobile Navigation Buttons -->
  <div class="card gedf-card" style="float: center; text-align: center; margin-top: 10px;">
      <div class="card-body">
          <div class="btn-toolbar justify-content-between">
              <div class="btn-group" style="width: 100%;">
                  <button onclick="feedBtn()" class="mobile-nav_button">Feed</button>
                  <button onclick="aboutBtn()" class="mobile-nav_button">About</button>
                  <button onclick="activityBtn()" class="mobile-nav_button">Activities</button>
                  <button onclick="careerBtn()" class="mobile-nav_button">Career</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Feed -->
  <div class="card gedf-card" id="feed" style="display: block">
      <div class="btn-group" style="width: 100%;">
          <% if @user == current_user %>
              <%= render 'shared/micropost_form' %>
          <% end %>
      </div>
      <div class="card-body">
          <%= render 'shared/feed' %>
      </div>
  </div>
  <!-- Feed -->

  <!-- About -->
  <div class="card gedf-card" id="about" style="display: none">
    <div class="btn-group" style="width: 100%;">
      <%= render 'about' %>
    </div>
  </div>
  <!-- About -->

  <!-- Activities -->
  <div class="card gedf-card" id="activities" style="display: none; margin-top: 10px;">
    <div class="btn-group" style="width: 100%;">
      <%= render 'activities' %>
    </div>
  </div>
  <!-- Activities -->

  <!-- Career -->
  <div class="card gedf-card" id="career" style="display: none; margin-top: 10px;">
    <div clsas="btn-group" style="width: 100%;">
      <%= render 'career' %>
    </div>
  </div>
  <!-- Career -->
</div>
