<% provide(:title, "Edit user") %>
<div class="container">
  <h1 class="mb-4 text-center edit_header">Update Your Profile</h1>
  <div class="row justify-content-center">
    <div class="col-md-8" style="margin: 20px auto;">
      <%= form_with(model: @user) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="form-group">
          <%= f.submit "Save changes", class: "btn btn-primary btn-block" %>
        </div>

        <h3 class="section-title">Image Alteration</h3>
        <div class="form-group">
          <%= f.label "Avatar", class: "form-label" %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label "Banner", class: "form-label" %>
          <%= f.file_field :banner, class: 'form-control' %>
        </div>

        <h3 class="section-title">Basic Information</h3>
        <div class="form-group">
          <%= f.label "Username:", class: "form-label" %>
          <%= f.text_field :uname, class: 'form-control', disabled: true %>

          <%= f.label "First Name:", class: 'form-label' %>
          <%= f.text_field :fname, class: 'form-control', placeholder: 'Hodr' %>

          <%= f.label "Middle Name:", class: 'form-label' %>
          <%= f.text_field :mname, class: 'form-control', placeholder: 'Social' %>

          <%= f.label "Last Name:", class: 'form-label' %>
          <%= f.text_field :lname, class: 'form-control', placeholder: 'Media' %>

          <%= f.label "Biography:", class: 'form-label' %>
          <%= f.text_area :bio, class: 'form-control', placeholder: 'About me....' %>
        </div>

        <h3 class="section-title">Contact Information</h3>
        <div class="form-group">
          <%= f.label "Telephone:", class: 'form-label' %>
          <%= f.telephone_field :tel, class: 'form-control', placeholder: '817-555-0505' %>

          <%= f.label "Email:", class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control', disabled: true %>

          <%= f.label "Address #1:", class: 'form-label' %>
          <%= f.text_field :adr1, class: 'form-control', placeholder: '404 Hackers BLVD' %>

          <%= f.label "Address #2:", class: 'form-label' %>
          <%= f.text_field :adr2, class: 'form-control', placeholder: '#403' %>

          <%= f.label "City:", class: 'form-label' %>
          <%= f.text_field :city, class: 'form-control', placeholder: 'Dallas' %>

          <%= f.label "State:", class: 'form-label' %>
          <%= f.text_field :state, class: 'form-control', placeholder: 'Texas' %>

          <%= f.label "Zip:", class: 'form-label' %>
          <%= f.number_field :zip, class: 'form-control', placeholder: '75542' %>

          <%= f.label "Country:", class: 'form-label' %>
          <%= f.text_field :country, class: 'form-control', placeholder: 'United States of America' %>
        </div>

        <h3 class="section-title">Online Presence</h3>
        <div class="form-group">
          <%= f.label "Git Account:", class: 'form-label' %>
          <%= f.url_field :git, class: 'form-control', placeholder: 'https://github.com/AubreyLove' %>

          <%= f.label "Twitter:", class: 'form-label' %>
          <%= f.url_field :twitter, class: 'form-control', placeholder: 'https://twitter.com/AubreyLove' %>

          <%= f.label "LinkedIn:", class: 'form-label' %>
          <%= f.url_field :lin, class: 'form-control', placeholder: 'https://linkedin.com/in/AubreyLove' %>

          <%= f.label "Website:", class: 'form-label' %>
          <%= f.url_field :web, class: 'form-control', placeholder: 'https://aubreylove.space' %>

          <%= f.label "YouTube:", class: 'form-label' %>
          <%= f.url_field :ytube, class: 'form-control', placeholder: 'https://youtube.com/channel/AubreyLove' %>
        </div>

        <h3 class="section-title">Education Information</h3>
        <div class="form-group">
          <%= f.label "Highest Educational Degree:", class: 'form-label' %>
          <%= f.text_field :degree, class: 'form-control', placeholder: 'Ph.D. Computer Science' %>

          <%= f.label "School Name:", class: 'form-label' %>
          <%= f.text_field :sname, class: 'form-control', placeholder: 'Ashley University' %>

          <%= f.label "Description of Studies:", class: 'form-label' %>
          <%= f.text_field :cstudies, class: 'form-control', placeholder: 'While attending this school, ' %>
        </div>

        <h3 class="section-title">Relationship Status</h3>
        <div class="form-group">
          <%= f.label "Marital Status:", class: 'form-label' %>
          <%= f.select :marital, [['Married'], ['Single'], ['Dating'], ['Widow']], class: 'form-control' %>

          <%= f.label "Spouses Name:", class: 'form-label' %>
          <%= f.text_field :spouse, class: 'form-control', placeholder: 'Khristane' %>

          <%= f.label "Number of Kids:", class: 'form-label' %>
          <%= f.number_field :kids, class: 'form-control', placeholder: '4' %>
        </div>

        <h3 class="section-title">Activities &amp; Hobbies</h3>
        <div class="form-group">
          <%= f.label "Favorite Books:", class: 'form-label' %>
          <%= f.text_area :books, class: 'form-control', placeholder: 'Bible, Ruby on Rails for Dummies,' %>

          <%= f.label "Favorite Movies/T.V. Shows:", class: 'form-label' %>
          <%= f.text_area :movies, class: 'form-control', placeholder: 'Hackers, Passion of the Christ, How Its Made' %>

          <%= f.label "Favorite Activity:", class: 'form-label' %>
          <%= f.text_area :activity, class: 'form-control', placeholder: 'Coding, hacking, spending time with family' %>

          <%= f.label "Favorite Songs:", class: 'form-label' %>
          <%= f.text_area :songs, class: 'form-control', placeholder: 'Teach me Lord to Wait' %>

          <%= f.label "Favorite Games:", class: 'form-label' %>
          <%= f.text_area :games, class: 'form-control', placeholder: 'Dungeons & Dragons, Call of Duty, Fortnite' %>
        </div>

        <h3 class="section-title">Employment Information</h3>
        <div class="form-group">
          <%= f.label "Job Title:", class: 'form-label' %>
          <%= f.text_field :jtitle, class: 'form-control', placeholder: 'Ruby on Rails Engineer' %>

          <%= f.label "Company Name:", class: 'form-label' %>
          <%= f.text_field :cname, class: 'form-control', placeholder: 'Hodr Social' %>

          <%= f.label "Length of Employment:", class: 'form-label' %>
          <%= f.text_field :ljob, class: 'form-control', placeholder: '1 Year' %>

          <%= f.label "Job Description:", class: 'form-label' %>
          <%= f.text_area :jdesc, class: 'form-control', placeholder: 'Write the code for Hodr!' %>
        </div>

        <h3 class="section-title">Password Information</h3>
        <div class="form-group">
          <%= f.label "Password:", class: 'form-label' %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label "Confirm Password:", class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

        <div class="form-group">
          <%= f.submit "Save changes", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
