<% provide(:title, "Edit Your Page") %>
<div class="galactic-profile-configuration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="mb-4 text-center edit_header">Edit MyPage Settings</h1>
        <%= form_with(model: @user, html: { class: 'form-galactic-profile' }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <!-- Navigation for sections -->
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="ImageBTN()">Change Your Avatar/Banner</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="IdentityBTN()">Change Your Identity</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="CommunicationBTN()">Change Your Contact Intel</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="AccountsBTN()">Change Your External Accounts</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="EducationBTN()">Change Your Education Status</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="MarriageBTN()">Change Your Marital &amp; Kids</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="HobbiesBTN()">Change Your Hobbies &amp; Interests</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="CareerBTN()">Change Your Career Path</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="PasswordBTN()">Change Your Password</button>
            <button type="button" class="btn btn-outline-success button_edit_pro" onclick="CustomizeBTN()">Customize Your Page</button>
            <!-- Add additional tabs for each section accordingly -->
          </div>

          <!-- Div Elements -->

          <!-- Change User Avatar & Banner Images -->
          <div id="UserImages" style="display: none">
            <h3 class="section-title">Change Your Avatar &amp; Banner</h3>
            <p>Display Your Desired Avatar &amp; Banner For The World To See!</p>

            <div class="form-group">
              <%= f.label :avatar, "Profile Avatar:", class: "form-label" %>
              <%= f.file_field :avatar, class: 'form-control-file', accept: "image/png,image/gif,image/jpeg" %>
            </div>

            <div class="form-group">
              <%= f.label :banner, "Profile Banner:", class: "form-label" %>
              <%= f.file_field :banner, class: 'form-control-file', accept: "image/png,image/gif,image/jpeg" %>
            </div>
          </div>

          <!-- Change User Identity -->
          <div id="UserIdentity" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Your Identity</h3>
            <p style="color: #8b949e; text-align: center;">Define your essence within the pages.</p>

            <div class="form-group">
              <%= f.label :uname, "Username:", class: "form-label" %>
              <p style="color: #8b949e;">Your username can not be altered.</p>
              <%= f.text_field :uname, class: 'form-control', disabled: true %>
            </div>

            <div class="form-group">
              <%= f.label :fname, "First Name:", class: 'form-label' %>
              <%= f.text_field :fname, class: 'form-control', placeholder: 'Your First Name' %>
            </div>

            <div class="form-group">
              <%= f.label :mname, "Middle Name:", class: 'form-label' %>
              <%= f.text_field :mname, class: 'form-control', placeholder: 'Your Middle Name' %>
            </div>

            <div class="form-group">
              <%= f.label :lname, "Last Name:", class: 'form-label' %>
              <%= f.text_field :lname, class: 'form-control', placeholder: 'Your Last Name' %>
            </div>

            <div class="form-group">
              <%= f.label :bio, "About You:", class: 'form-label' %>
              <p style="color: #8b949e;">A glimpse into your story. Share your journey, achievements, or the mysteries you've uncovered.</p>
              <%= f.text_area :bio, class: 'form-control', placeholder: 'Go ahead, brag about yourself and tell us something interesting about you!' %>
            </div>
          </div>

          <!-- Change User Communication Preferences -->
          <div id="Comms" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Communication Preferences</h3>
            <p style="color: #8b949e; text-align: center;">Display methods that other users can get ahold of you (OPTIONAL)</p>

            <div class="form-group">
              <%= f.label :tel, "Telephone:", class: 'form-label' %>
              <%= f.telephone_field :tel, class: 'form-control', placeholder: '817-555-0505' %>
            </div>

            <div class="form-group">
              <%= f.label :email, "Email:", class: 'form-label' %>
              <p style="color: #8b949e;">CAN NOT CHANGE YOUR EMAIL.</p>
              <%= f.email_field :email, class: 'form-control', disabled: true %>
            </div>

            <div class="form-group">
              <%= f.label :adr1, "Address #1:", class: 'form-label' %>
              <%= f.text_field :adr1, class: 'form-control', placeholder: '403 Coder BLVD' %>
            </div>

            <div class="form-group">
              <%= f.label :adr2, "Address #2:", class: 'form-label' %>
              <%= f.text_field :adr2, class: 'form-control', placeholder: '404' %>
            </div>

            <div class="form-group">
              <%= f.label :city, "City/Region:", class: 'form-label' %>
              <%= f.text_field :city, class: 'form-control', placeholder: 'Dallas' %>
            </div>

            <div class="form-group">
              <%= f.label :state, "State/Territory:", class: 'form-label' %>
              <%= f.text_field :state, class: 'form-control', placeholder: 'Texas' %>
            </div>

            <div class="form-group">
              <%= f.label :zip, "Zip:", class: 'form-label' %>
              <%= f.number_field :zip, class: 'form-control', placeholder: '76157' %>
            </div>

            <div class="form-group">
              <%= f.label :country, "Country:", class: 'form-label' %>
              <%= f.text_field :country, class: 'form-control', placeholder: 'USA' %>
            </div>
          </div>

          <!-- Change User Digital Footprint -->
          <div id="Digital" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Digital Footprint</h3>
            <p style="color: #8b949e; text-align: center;">Let others know where else they can find you at!</p>

            <div class="form-group">
              <%= f.label :git, "Git Account:", class: 'form-label' %>
              <%= f.url_field :git, class: 'form-control', placeholder: 'https://github.com/MyPage' %>
            </div>

            <div class="form-group">
              <%= f.label :twitter, "X/Twitter:", class: 'form-label' %>
              <%= f.url_field :twitter, class: 'form-control', placeholder: 'https://twitter.com/MyPage' %>
            </div>

            <div class="form-group">
              <%= f.label :lin, "LinkedIn:", class: 'form-label' %>
              <%= f.url_field :lin, class: 'form-control', placeholder: 'https://linkedin.com/in/MyPage' %>
            </div>

            <div class="form-group">
              <%= f.label :web, "Personal Website:", class: 'form-label' %>
              <%= f.url_field :web, class: 'form-control', placeholder: 'https://www.yourwebsite.com' %>
            </div>

            <div class="form-group">
              <%= f.label :ytube, "YouTube:", class: 'form-label' %>
              <%= f.url_field :ytube, class: 'form-control', placeholder: 'https://youtube.com/channel/MyPages' %>
            </div>
          </div>

          <!-- Change User Knowledge -->
          <div id="Education" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Knowledge Accumulation</h3>
            <p style="color: #8b949e; text-align: center;">Express your greatest educational achievements.</p>

            <div class="form-group">
              <%= f.label :degree, "Highest Degree:", class: 'form-label' %>
              <%= f.text_field :degree, class: 'form-control', placeholder: 'Ph.D. Computer Science' %>
            </div>

            <div class="form-group">
              <%= f.label :sname, "Institution Name:", class: 'form-label' %>
              <%= f.text_field :sname, class: 'form-control', placeholder: 'Ashley University' %>
            </div>

            <div class="form-group">
              <%= f.label :cstudies, "Course Studies:", class: 'form-label' %>
              <%= f.text_field :cstudies, class: 'form-control', placeholder: 'Quantum Computers, Servers, & Coding' %>
            </div>
          </div>

          <!-- Change User Maritial & Kids -->
          <div id="Family" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Marital &amp; Family</h3>
            <p style="color: #8b949e; text-align: center;">If you wish, you may give your marital &amp; family status!</p>

            <div class="form-group">
              <%= f.label :marital, "Marital Status:", class: 'form-label' %>
              <%= f.select :marital, [['Married'], ['Single'], ['Dating'], ['Widow']], class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :spouse, "Partner's Name:", class: 'form-label' %>
              <%= f.text_field :spouse, class: 'form-control', placeholder: 'Enter your partners appellation' %>
            </div>

            <div class="form-group">
              <%= f.label :kids, "Kid Count:", class: 'form-label' %>
              <%= f.number_field :kids, class: 'form-control', placeholder: 'Number of offspring' %>
            </div>
          </div>

          <!-- Change User Hobbies & Interests -->
          <div id="Hobbies" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Hobbies &amp; Interests</h3>
            <p style="color: #8b949e; text-align: center;">Let people know what you are interested in the most...or don't...</p>

            <div class="form-group">
              <%= f.label :books, "Books:", class: 'form-label' %>
              <%= f.text_area :books, class: 'form-control', placeholder: 'Bible, Michael Hartls Ruby on Rails book, Python for Black Hat Hackers, Bug Bounty 101, C++ for Dummies' %>
            </div>

            <div class="form-group">
              <%= f.label :movies, "Movies:", class: 'form-label' %>
              <%= f.text_area :movies, class: 'form-control', placeholder: 'Passion of the Christ, Hackers, Twilight, Snowden' %>
            </div>

            <div class="form-group">
              <%= f.label :activity, "Activities:", class: 'form-label' %>
              <%= f.text_area :activity, class: 'form-control', placeholder: 'Bible Studies, Hack-A-Thons, Coding, Family Time' %>
            </div>

            <div class="form-group">
              <%= f.label :songs, "Songs & Artists:", class: 'form-label' %>
              <%= f.text_area :songs, class: 'form-control', placeholder: 'Techno Dubstep, Gold City, The Oak Ridge Boys, Eminem' %>
            </div>

            <div class="form-group">
              <%= f.label :games, "Games (Video/Board):", class: 'form-label' %>
              <%= f.text_area :games, class: 'form-control', placeholder: 'DnD, Call of Duty, Fortnite' %>
            </div>
          </div>

          <!-- Change User Professional Lifestyle -->
          <div id="Pro" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Professional Lifestyle</h3>
            <p style="color: #8b949e; text-align: center;">What do you do for a living?</p>

            <div class="form-group">
              <%= f.label :jtitle, "Current Position:", class: 'form-label' %>
              <%= f.text_field :jtitle, class: 'form-control', placeholder: 'Ruby on Rails Engineer' %>
            </div>

            <div class="form-group">
              <%= f.label :cname, "Company Name:", class: 'form-label' %>
              <%= f.text_field :cname, class: 'form-control', placeholder: 'MyPage' %>
            </div>

            <div class="form-group">
              <%= f.label :ljob, "Length of Employment:", class: 'form-label' %>
              <%= f.text_field :ljob, class: 'form-control', placeholder: '3-Months' %>
            </div>

            <div class="form-group">
              <%= f.label :jdesc, "Job Duties:", class: 'form-label' %>
              <%= f.text_area :jdesc, class: 'form-control', placeholder: 'Write code, setup & secure server, ensure system optimizations' %>
            </div>
          </div>

          <!-- Change User Password -->
          <div id="PWD" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">Password Alteration</h3>
            <p style="color: #8b949e; text-align: center;">Update your encryption key to secure your page.</p>

            <div class="form-group">
              <%= f.label :password, "New Encryption Key:", class: 'form-label' %>
              <%= f.password_field :password, class: 'form-control', placeholder: 'Enter your new encryption key' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm Encryption Key:", class: 'form-label' %>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your new encryption key' %>
            </div>
          </div>

          <!-- Customize User Page -->
          <div id="Customize" style="display: none">
            <h3 class="section-title" style="color: #58a6ff; text-align: center;">MyPage Customization</h3>
            <p style="color: #8b949e; text-align: center;">Make Your Page... Well, Your Page!!!</p>

            <%= f.label :background, "Background Image:", class: 'form-label' %>
            <%= f.file_field :background_image, class: 'form-control', accept: 'image/png,image/jpeg' %>
            <% if current_user.has_premium_access? %>
              <p>You can also upload animated backgrounds (GIFs).</p>
              <%= f.file_field :background_animation, class: 'form-control-file', accept: "image/gif" %>
            <% else %>
              <p>Upgrade to premium to unlock animated backgrounds.</p>
            <% end %>
            <strong>OR</strong>
            <div class="form-group">
              <%= f.label :background_color, "Choose your background color:" %>
              <%= f.select :background_color,
                  options_for_select(all_colors.map { |color|
                    [
                      color[:name],
                      color[:value],
                      { disabled: !@user.is_premium? && !["red", "green", "blue", "black", "white"].include?(color[:value]) }
                    ]
                  }, selected: @user.background_color),
                  { include_blank: 'None (use image)' },
                  { class: "form-control" } %>
            </div>

          </div>

          <div class="form-group">
            <%= f.submit "Save Configuration", class: "btn btn-outline-danger btn-block button_edit_pro" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<script>

/* Hide/Show Avatar & Banner Div Element */
function ImageBTN()
{
  var a = document.getElementById("UserImages");
  if (a.style.display === "none")
  {
    a.style.display = "block";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    a.style.display = "none";
  }
}

/* Hide/Show Identity Div Element */
function IdentityBTN()
{
  var b = document.getElementById("UserIdentity");
  if (b.style.display === "none")
  {
    b.style.display = "block";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    b.style.display = "none";
  }
}


/* Hide/Show Communication Div Element */
function CommunicationBTN()
{
  var c = document.getElementById("Comms");
  if (c.style.display === "none")
  {
    c.style.display = "block";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    c.style.display = "none";
  }
}

/* Hide/Show Digital Footprint Div Element */
function AccountsBTN()
{
  var d = document.getElementById("Digital");
  if (d.style.display === "none")
  {
    d.style.display = "block";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    d.style.display = "none";
  }
}

/* Hide/Show Education Div Element */
function EducationBTN()
{
  var e = document.getElementById("Education");
  if (e.style.display === "none")
  {
    e.style.display = "block";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    e.style.display = "none";
  }
}

/* Hide/Show Family Div Element */
function MarriageBTN()
{
  var f = document.getElementById("Family");
  if (f.style.display === "none")
  {
    f.style.display = "block";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    f.style.display = "none";
  }
}

/* Hide/Show Hobbies & Interests Div Element */
function HobbiesBTN()
{
  var g = document.getElementById("Hobbies");
  if (g.style.display === "none")
  {
    g.style.display = "block";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    g.style.display = "none";
  }
}

/* Hide/Show Professional Career Div Element */
function CareerBTN()
{
  var h = document.getElementById("Pro");
  if (h.style.display === "none")
  {
    h.style.display = "block";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    h.style.display = "none";
  }
}

/* Hide/Show Password Div Element */
function PasswordBTN()
{
  var i = document.getElementById("PWD");
  if (i.style.display === "none")
  {
    i.style.display = "block";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("Comms").style.display = "none";
    document.getElementById("Customize").style.display = "none";
  }
  else
  {
    i.style.display = "none";
  }
}

/* Hide/Show Customize Div Element */
function CustomizeBTN()
{
  var j = document.getElementById("Customize");
  if (j.style.display === "none")
  {
    j.style.display = "block";
    document.getElementById("PWD").style.display = "none";
    document.getElementById("Pro").style.display = "none";
    document.getElementById("Hobbies").style.display = "none";
    document.getElementById("Family").style.display = "none";
    document.getElementById("Education").style.display = "none";
    document.getElementById("Digital").style.display = "none";
    document.getElementById("UserImages").style.display = "none";
    document.getElementById("UserIdentity").style.display = "none";
    document.getElementById("Comms").style.display = "none";
  }
  else
  {
    j.style.display = "none";
  }
}
</script>
