<% provide(:title, 'All Pages') %>
<div class="container">
  <h1 class="mb-4">All users</h1>
  <p class="mb-4">Total Registered Users: <%= User.count %></p>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, class: 'card-img-top' %>
            <% else %>
              <%= image_tag('mypage_logo.png', class: 'card-img-top') %>
            <% end %>
            <h5 class="card-title card_username"><%= user.uname %></h5>
            <p class="card-text card_posts">Total Posts: <%= user.microposts.count %> | Total Followers: <%= user.following.count %></p>
            <p class="card-text card_time">Time of Creation: <%= time_ago_in_words(user.created_at) %> ago</p>
            <p class="card-text card_role">Role:
              <% if user.admin %>
                Administrator
              <% else %>
                Standard User
              <% end %>
            </p>
            <%= link_to 'View profile', user, class: 'btn btn-success button_pro', style: 'cursor: pointer' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= will_paginate %>
  </div>
</div>
