<% provide(:title, 'Create Your Page') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with(model: @user, html: { class: 'form-uplink-initiation' }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <h2 class="text-center mb-4 create_heading">Create Your Account</h2>
        <div class="form-group">
          <%= f.label :uname, "Username:", class: 'create_title' %>
          <%= f.text_field :uname, class: 'form-control create_input' %>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email:", class: 'create_title' %>
          <%= f.email_field :email, class: 'form-control create_input' %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Password:", class: 'create_title' %>
          <%= f.password_field :password, class: 'form-control create_input' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Password Confirmation:", class: 'create_title' %>
          <%= f.password_field :password_confirmation, class: 'form-control create_input' %>
        </div>

        <div class="form-check mb-3">
          <%= f.check_box :agree_terms, class: 'form-check-input' %>
          <%= f.label :agree_terms, class: 'form-check-label create_title' do %>
            By creating a new account, you agree to Hodr's <%= link_to 'Terms & Conditions', eula_path, target: '_blank' %> and <%= link_to 'EULA (End User License Agreement)', eula_path, target: '_blank' %>
          <% end %>
        </div>

        <%= f.submit "Create Account", class: "btn btn-outline-success btn-block button_pro" %>

      <% end %>
    </div>
  </div>
</div>
