<% provide(:title, @user.uname) %>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5"><%= @user.uname %></div>
                        <div class="h7 text-muted">Fullname : <%= @user.fname %> <%= @user.lname %></div>
                        <div class="h7">
                          <%= @user.bio %>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">
                              <%= @user.followers.count %>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">
                              <%= @user.following.count %>
                            </div>
                        </li>
                        <li class="list-group-item">
                          <div class="h6 text-muted">Number of Posts</div>
                          <div class="h5">
                            <%= @user.microposts.count %>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <%= render 'shared/micropost_form' %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-body">
                        <%= render 'shared/feed' %>
                    </div>
                </div>
                <!-- Post /////-->

            </div>
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title"><%= link_to 'GoFundMe', 'https://www.gofundme.com/f/launch-our-dream-building-a-social-media-platform?utm_campaign=p_lico+share-sheet&utm_medium=copy_link&utm_source=customer', target: '_blank' %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                          Help Use Raise Funds
                        </h6>
                        <p class="card-text">
                          In today’s digital age, social media has the power to connect us with friends and family across the globe. Yet, somewhere along the way, our online spaces became crowded with ads, our data turned into commodities, and genuine connections started to feel a bit more distant. That’s why we’re building Hodr!
                        </p>
                    </div>
                </div>
                <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<style>
body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }
        </style>
