<% provide(:title, @user.uname) %>
<div class="content-page" style="margin-bottom: 325px;">
	<div class="profile-banner" style="margin-bottom: -300px;">
  	<% if @user.banner.attached? %>
    	<%= image_tag @user.banner, class: 'profile-banner' %>
  	<% else %>
    	<%= image_tag("banner.png", class: 'profile-banner') %>
  	<% end %>
	</div>
   	 <div class="col-sm-3 avatar-container">
  	<% if @user.avatar.attached? %>
    	<%= image_tag @user.avatar, class: "img-circle profile-avatar", alt: "User Avatar" %>
  	<% else %>
    	<%= image_tag("hodr_logo.png", class: "img-circle profile-avatar") %>
  	<% end %>
   	 </div>
</div>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5"><%= @user.uname %></div>
                        <div class="h7 text-muted pname">Name : <%= @user.fname %> <%= @user.lname %></div>
                        <div class="h7 pbio">
													<% account_age = ((Time.zone.now - @user.created_at) / 1.day).to_i %>
													<p style="font-size: 20px;">Account age: <%= account_age %> days</p>
                        </div>
												<div class="h7 pbio">
													<%= render 'family' %>
												</div>

                    </div>
                    <ul class="list-group list-group-flush">
												<li class="list-group-item" style="background-color: #000">
													<div class="h6 text-muted">Badges Earned</div>
													<div class="h5">
														<%= render 'badges' %>
													</div>
												</li>
                        <li class="list-group-item" style="background-color: #000">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">
                              <%= @user.followers.count %>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #000;">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">
                              <%= @user.following.count %>
                            </div>
                        </li>
                        <li class="list-group-item" style="background-color: #000">
                          <div class="h6 text-muted">Number of Posts</div>
                          <div class="h5">
                            <%= @user.microposts.count %>
                          </div>
                        </li>
												<li class="list-group-item" style="background-color: #000">
													<div class="h6 text-muted">Follow This User</div>
													<div class="h5">
														<% if current_user == @user %>
															<div class="gfm-embed" data-url="https://www.gofundme.com/f/launch-our-dream-building-a-social-media-platform/widget/large?sharesheet=coachingTask"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
														<% else %>
															<%= render 'follow_form' %>
														<% end %>
													</div>
												</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <!-- User Buttons -->
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group" style="width: 100%;">
                                <button onclick="feedBtn()" class="nav_button">Feed</button>
																<button onclick="aboutBtn()" class="nav_button">About</button>
																<button onclick="activityBtn()" class="nav_button">Activities</button>
																<button onclick="careerBtn()" class="nav_button">Career</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User Buttons-->

                <!-- Feed -->
                <div class="card gedf-card" id="feed" style="display: block">
										<div class="btn-group" style="width: 100%;">
												<%= render 'shared/micropost_form' %>
										</div>
                    <div class="card-body">
                        <%= render 'shared/feed' %>
                    </div>
                </div>
                <!-- Feed -->

								<!-- About -->
								<div class="card gedf-card" id="about" style="display: none">
									<div class="btn-group" style="width: 100%;">
										<%= render 'about' %>
									</div>
								</div>
								<!-- About -->

								<!-- Activities -->
								<div class="card gedf-card" id="activities" style="display: none">
									<div class="btn-group" style="width: 100%;">
										<%= render 'activities' %>
									</div>
								</div>
								<!-- Activities -->

								<!-- Career -->
								<div class="card gedf-card" id="career" style="display: none">
									<div clsas="btn-group" style="width: 100%;">
										<%= render 'career' %>
									</div>
								</div>
								<!-- Career -->

            </div>
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title url"><%= link_to 'GoFundMe', 'https://www.gofundme.com/f/launch-our-dream-building-a-social-media-platform?utm_campaign=p_lico+share-sheet&utm_medium=copy_link&utm_source=customer', target: '_blank' %></h5>
                        <h6 class="card-subtitle mb-2 text-muted url_bio">
                          Help Use Raise Funds
                        </h6>
                        <p class="card-text ad_bio">
                          In today’s digital age, social media has the power to connect us with friends and family across the globe. Yet, somewhere along the way, our online spaces became crowded with ads, our data turned into commodities, and genuine connections started to feel a bit more distant. That’s why we’re building Hodr!
                        </p>
                    </div>
                </div>
                <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title url"><%= link_to 'LakePointe Church', 'https://lakepointe.church', target: '_blank' %></h5>
                            <h6 class="card-subtitle mb-2 text-muted url_bio">Discover God, Find a Calling, Make A Difference</h6>
                            <p class="card-text ad_bio">
															Lakepointe Church is celebrating Easter with services beginning on March 29. They offer a welcoming environment for everyone, regardless of background or story, and are located in multiple locations, including Rockwall, Mesquite, Firewheel, Forney, North Dallas, and East Dallas​
														</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<style>
body {
            background-color: #000000;
        }
				.h5
				{
					font-family: "Electrolize", sans-serif;
					color: #0F0;
					font-size: 25px;
				}

        .h7 {
            font-size: 0.8rem;
        }

				.ad_bio
				{
					font-family: "Gideon Roman", serif;
					color: #FFF;
				}

				.url
				{
					font-family: "Black Ops One", system-ui;
				}

				.url_bio
				{
					color: #00F;
					font-family: "Orbitron", sans-serif;
				}

				.pname
				{
					color: #00F;
					font-size: 20px;
					font-family: "Philosopher", sans-serif;
				}

				.pbio
				{
					font-family: "Gideon Roman", serif;
					font-size: 15px;
					color: #FFF;
				}

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }

				.nav_button
				{
					background-color: #0B6623;
					font-family: "Cinzel", serif;
					font-size: 15px;
					box-shadow: 5px 5px 7px #C0C0C0;
					margin: 15px;
					color: #000;
					border-radius: 25%;
					border: 1px solid #C0C0C0;
					padding: 6px;
				}
				.nav_button:hover
				{
					background-color: #00FF00;
					font-size: 18px;
					font-family: "Cinzel", serif;
					color: #000;
					cursor: crosshair;
				}
        </style>
<script>
function feedBtn()
{
	var a = document.getElementById("feed");
	if (a.style.display === "none")
	{
		a.style.display = "block";
		document.getElementById("about").style.display = "none";
		document.getElementById("activities").style.display = "none";
		document.getElementById("career").style.display = "none";
	}
	else
	{
		a.style.display = "none";
	}
}

function aboutBtn()
{
	var b = document.getElementById("about");
	if (b.style.display === "none")
	{
		b.style.display = "block";
		document.getElementById("feed").style.display = "none";
		document.getElementById("activities").style.display = "none";
		document.getElementById("career").style.display = "none";
	}
	else
	{
		b.style.display = "none";
	}
}

function activityBtn()
{
	var c = document.getElementById("activities");
	if (c.style.display === "none")
	{
		c.style.display = "block";
		document.getElementById("about").style.display = "none";
		document.getElementById("feed").style.display = "none";
		document.getElementById("career").style.display = "none";
	}
	else
	{
		c.style.display = "none";
	}
}

function careerBtn()
{
	var d = document.getElementById("career");
	if (d.style.display === "none")
	{
		d.style.display = "block";
		document.getElementById("activities").style.display = "none";
		document.getElementById("about").style.display = "none";
		document.getElementById("feed").style.display = "none";
	}
}
</script>
