<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="col-md-5">
    <%= f.text_area :content, placeholder: "What is on your mind today...", style: 'width: 100%;' %>
    <span class="image">
      <%= f.file_field :images, multiple: true, accept: "image/png,image/jpeg,image/gif,image/webp,video/mp4,video/mov,video/webm", style: "cursor: crosshair" %>
    </span>
    <span class="image">
      <%= f.submit "Post", class: "btn btn-outline-success", style: 'cursor: crosshair' %>
    </span>
  </div>
  <hr>

<% end %>
<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: <%= @user.heading_font || "default font" %>;
    color: <%= @user.heading_color %>;
  }
  p {
    font-family: <%= @user.paragraph_font || "default font" %>;
    color: <%= @user.paragraph_color %>;
  }
  a {
    font-family: <%= @user.hyperlink_font || "default font" %>;
    color: <%= @user.hyperlink_color %>;
  }
</style>
