<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field" style="width: 100%;">
    <%= f.text_area :content, placeholder: "Compose new post..." %>

  </div>
  <span class="image">
    <%= f.file_field :images, multiple: true, accept: "image/png,image/jpeg,image/gif,image/webp,video/mp4,video/mov,video/webm", style: 'color: #000; cursor: crosshair' %>
  </span><br/>
  <br/>
  <%= f.submit "Post", class: "btn btn-outline-success", style: 'width: 100%;', style: 'cursor: crosshair' %>

<% end %>
<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: <%= @user.heading_font || "default font" %>;
    color: <%= @user.heading_color %>;
  }
  p {
    font-family: <%= @user.paragraph_font || "default font" %>;
    color: <%= @user.paragraph_color %>;
  }
  a {
    font-family: <%= @user.hyperlink_font || "default font" %>;
    color: <%= @user.hyperlink_color %>;
  }
</style>
