<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg image/gif image/png", class: 'btn btn-success', style: 'width: 30%; float: center; padding: 5px; text-align: center;' %>
  </span><br/>
  <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>
