<script src="https://js.stripe.com/v3/"></script>

<%= form_tag subscriptions_path, id: 'payment-form', method: "post" do %>
  <fieldset>
    <legend>Choose Your Subscription Plan:</legend>
    <%= radio_button_tag :plan_id, 'price_1P59cG03B5au4A3aHlmVVbhN', checked: true %>
    <%= label_tag :plan_id, "Premium Monthly Plan - $9.99/month" %><br/>

    <%= radio_button_tag :plan_id, 'price_1P59cy03B5au4A3a4QC8FKsL' %>
    <%= label_tag :plan_id, "Premium Yearly Plan - $89.99/year" %><br/>
  </fieldset>

  <div id="card-element">
    <!-- A Stripe Element will be inserted here. -->
  </div>

  <!-- Used to display form errors. -->
  <div id="card-errors" role="alert"></div>

  <%= submit_tag "Subscribe", id: 'submit-button' %>
<% end %>

<script>
  var stripe = Stripe('pk_live_51P59Sk03B5au4A3aOnoSSVKfnllw8XtdK0pFudETXdyUnDj9aC9itmN7IBTyq9xMO5ZHBkUY2rlwDGVnUZe6QVoz00wNBX3YWB');
  var elements = stripe.elements();
  var style = {
    base: {
      color: "#32325d",
    }
  };

  var card = elements.create("card", {style: style});
  card.mount("#card-element");

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler(token) {
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    form.submit();
  }
</script>
