<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscribe</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <div class="container mt-5">
    <%= form_tag subscriptions_path, id: 'payment-form', method: "post", class: 'needs-validation', novalidate: true do %>
      <div class="card">
        <div class="card-body">
          <fieldset>
            <legend>Choose Your Subscription Plan:</legend>
            <div class="form-check">
              <%= radio_button_tag :plan_id, 'price_1P59cG03B5au4A3aHlmVVbhN', checked: true, class: 'form-check-input' %>
              <%= label_tag :plan_id, "Premium Monthly Plan - $9.99/month", class: 'form-check-label' %>
            </div>
            <div class="form-check">
              <%= radio_button_tag :plan_id, 'price_1P59cy03B5au4A3a4QC8FKsL', class: 'form-check-input' %>
              <%= label_tag :plan_id, "Premium Yearly Plan - $89.99/year ($7.50/Month)", class: 'form-check-label' %>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">Credit or Debit Card</h4>
          <div id="card-element" class="form-control">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert" class="text-danger mt-2"></div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-4" id="submit-button">Subscribe</button>
    <% end %>
  </div>

  <script>
    var stripe = Stripe('pk_live_51P59Sk03B5au4A3aOnoSSVKfnllw8XtdK0pFudETXdyUnDj9aC9itmN7IBTyq9xMO5ZHBkUY2rlwDGVnUZe6QVoz00wNBX3YWB');
    var elements = stripe.elements();
    var style = {
      base: {
        color: "#32325d",
      }
    };

    var card = elements.create("card", {style: style});
    card.mount("#card-element");

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          stripeTokenHandler(result.token);
        }
      });
    });

    function stripeTokenHandler(token) {
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      form.submit();
    }
  </script>
</body>
</html>
