<div class="container">
  <h1 class="chambers_new_title">Create a New Chat Chamber</h1>

  <%= form_with model: @board, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :name, "Chat Chamber Name", class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'Enter Chat Chamber Name' %>
    </div>
    <div class="mb-3">
      <%= form.label :description, "Chat Chamber Description", class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control', placeholder: 'Enter Chat Chamber Description', rows: 4 %>
    </div>
    <div class="mb-3">
      <%= form.label :category_id, "Select Category", class: 'form-label' %>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name, {prompt: "Choose a Category"}, class: 'form-select' %>
    </div>
    <% if current_user.is_premium? || current_user.admin? %>
      <div class="mb-3">
        <%= form.label :avatar, "Chat Chamber Avatar", class: 'form-label' %>
        <%= form.file_field :avatar, class: 'form-control', accept: 'image/png, image/jpeg', aria_describedby: 'avatarHelp' %>
        <div id="avatarHelp" class="form-text">Optional: Choose an avatar for your Chat Chamber</div>
      </div>
      <div class="mb-3">
        <%= form.label :password, "Chat Chamber Password", class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control', placeholder: 'Enter Chat Chamber Password' %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= form.submit "Create Chat Chamber", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
