<li id="micropost-<%= micropost.id %>">
  <% if micropost.user.avatar.attached? %>
    <%= image_tag micropost.user.avatar, size: "50x50" %>
  <% else %>
    <%= image_tag("hodr_logo.png", size: "50x50") %>
  <% end %>
  <span class="user"><%= link_to micropost.user.uname, micropost.user, class: 'post_user_link' %></span>
  <span class="content post_content"><%= micropost.content %></span>
  <% if micropost.images.attached? %>
    <div class="images-container">
      <%= image_tag micropost.images.first, class: "main-image" if micropost.images.any? %>

      <% if micropost.images.count > 1 %>
        <div class="additional-images">
          <% micropost.images.drop(1).each do |image| %>
            <%= image_tag image, class: "sub-image" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>


  <span class="timestamp post_time">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, data: { "turbo-method": :delete, turbo_confirm: "You sure?" }, class: 'delete_post_link' %>
    <% end %>
  </span>
  <%= render micropost.comments %>

  <%= form_with(model: [micropost, Comment.new], local: true) do |form| %>
    <%= form.text_area :content, placeholder: "Write a comment...", class: 'comment_text_area' %>
    <%= form.submit "Post Comment", class: 'comment_submit_button' %>
  <% end %>
</li>
