<li id="micropost-<%= micropost.id %>">
  <% if micropost.user.avatar.attached? %>
    <%= image_tag micropost.user.avatar, size: "25x25" %>
  <% else %>
    <%= image_tag("mypage_logo.png", size: "25x25") %>
  <% end %>
  <span class="user"><%= link_to micropost.user.uname, micropost.user, class: 'post_user_link' %></span>
  <span class="content post_content">
    <%= auto_link(simple_format(micropost.content), html: { target: '_blank' }) %>
  </span>

  <% if micropost.images.any? %>
    <!-- Display the first image outside the flexbox if it's an image -->
    <% if micropost.images.first.content_type.start_with?('image/') %>
      <%= image_tag micropost.images.first, width: "100%" %>
    <% end %>
  <% end %>

  <!-- Create a flex container for additional images and videos -->
  <div class="media-container" style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
    <% micropost.images.each_with_index do |media, index| %>
      <% if index > 0 && media.content_type.start_with?('image/') %>
        <!-- Display additional images if there are more than one -->
        <%= image_tag media, width: "100px" %>
      <% elsif media.content_type.start_with?('video/') %>
        <!-- Display videos, adjusting the size to match the smaller images -->
        <video width="100" controls>
          <source src="<%= url_for(media) %>" type="<%= media.content_type %>">
          Your browser does not support the video tag.
        </video>
      <% end %>
    <% end %>
  </div>




  <span class="timestamp post_time">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, data: { "turbo-method": :delete, turbo_confirm: "You sure?" }, class: 'delete_post_link' %>
    <% end %>
  </span>
  <%= render micropost.comments %>

  <%= form_with(model: [micropost, Comment.new], local: true) do |form| %>
    <%= form.text_area :content, placeholder: "Write a comment..." %><br/>
    <%= form.file_field :images, multiple: true, accept: 'image/png,image/jpeg', style: 'color: #000; cursor: crosshair;' %><br/>
    <%= form.submit "Post Comment", class: 'btn btn-outline-warning btn-block', style: 'cursor: crosshair' %>
  <% end %>
</li>

<style>
.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-large {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

.image-small {
  width: 100px; /* Adjust as needed */
  margin-top: 10px;
}
</style>
