<li id="micropost-<%= micropost.id %>">
  <% if micropost.user.avatar.attached? %>
    <%= image_tag micropost.user.avatar, size: "50x50" %>
  <% else %>
    <%= image_tag("hodr_logo.png", size: "50x50") %>
  <% end %>
  <span class="user"><%= link_to micropost.user.uname, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <% if micropost.image.attached? %>
    <%= image_tag micropost.image, width: "500", height: "500" %>
  <% end %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
    <% end %>
  </span>
  <%= render micropost.comments %>

  <%= form_with(model: [micropost, Comment.new], local: true) do |form| %>
  <%= form.text_area :content, placeholder: "Write a comment..." %>
  <%= form.submit "Post Comment" %>
<% end %>

</li>
