<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #000;">
  <div class="container">
    <!-- Logo Link -->
    <%= link_to "Hodr", root_path, id: "logo" %>

    <nav>
      <!-- Hamburger Menu for Mobile View -->
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Navigation Links -->
      <ul id="navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><%= link_to "Home", root_path, id: 'navigation_button' %></li>
        <li><%= link_to "About", about_path, id: 'navigation_button' %></li>
        <li><%= link_to "How To", howto_path, id: 'navigation_button' %></li>
        <li><%= link_to "Contact", contact_path, id: 'navigation_button' %></li>

        <!-- Admin Portal Link -->
        <% if current_user&.admin %>
          <li><%= link_to "Admin Portal", admin_path, id: 'navigation_button' %></li>
        <% end %>

        <!-- Logged-in User Links -->
        <% if logged_in? %>
          <!--<li><%= link_to "Business Listings", businesses_path %></li>-->

          <!-- Notifications Link (for users only) -->
          <% if user_signed_in? %>
            <li><%= link_to notifications_path, id: 'navigation_button' do %>
              Notifications (<%= current_user.notifications.where(read_at: nil).count %>)
            <% end %></li>
          <% end %>

          <li><%= link_to "Users", users_path, id: 'navigation_button' %></li>

          <!-- Dropdown for User Account Management -->
          <li class="dropdown">
            <a href="#" id="account" class="dropdown-toggle" style="color: #00FF00; font-family: "Source Code Pro", monospace;">
              Account <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu" style="background-color: #000;">
              <li><%= link_to "Profile", current_user, id: 'navigation_button' %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), id: 'navigation_button' %></li>
              <li class="divider"></li>
              <li><%= link_to "EULA & Terms", eula_path, id: 'navigation_button' %></li>
              <li class="divider"></li>
              <li><%= link_to "Chat Boards", boards_path, id: 'navigation_button' %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, data: { "turbo-method": :delete }, id: 'navigation_button' %></li>
            </ul>
          </li>

        <!-- Business Account Links -->
        <% elsif current_business %>
        <li class="dropdown">
          <a href="#" id="account" class="dropdown-toggle">
            Business Account <b class="caret"></b>
          </a>
          <ul id="dropdown-menu" class="dropdown-menu">
              <li><%= link_to "My Business", current_business %></li>
              <li class="divider"></li>
              <li><%= link_to "Add Products", new_business_product_path(current_business) %></li>
              <li class="divider"></li>
              <li><%= link_to "Edit Business Page", edit_business_path(current_business) %></li>
              <li class="divider"></li>
              <li><%= link_to "Add Jobs", new_business_job_path(current_business) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', b_sessions_destroy_path, method: :delete %></li>
            </ul>
          </li>

        <!-- Guest Links -->
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "EULA & Terms", eula_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
