<% if request.variant.mobile? %>
  <!-- Mobile Navigation -->
  <nav class="mobile-nav" style="text-align: center;">
    <% if logged_in? %>
      <%= link_to "Users", users_path, class: 'mobile-link' %>
      <%= link_to "Chat Boards", boards_path, class: 'mobile-link' %>
      <%= link_to "Feed", current_user, class: 'mobile-link' %>
      <%= link_to "Edit Profile", edit_user_path(current_user), class: 'mobile-link' %>
      <% if current_user&.admin %>
        <%= link_to "Admin Portal", admin_path, class: 'mobile-link-admin' %>
      <% end %>
    <% else %>
      <%= link_to "Log in", login_path, class: 'mobile-link' %>
      <%= link_to "Sign up", signup_path, class: 'mobile-link' %>
    <% end %>
  </nav>
<% else %>
  <!-- Desktop Navigation -->
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Hodr", root_path, id: "logo" %>
      <nav>
        <div class="navbar-header">
          <button id="hamburger" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <ul id="navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "How To", howto_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <% if current_user&.admin %>
            <li><%= link_to "Admin Portal", admin_path %></li>
          <% end %>
          <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown">
              <a href="#" id="account" class="dropdown-toggle" data-turbo="false">
                Account <b class="caret"></b>
              </a>
              <ul id="dropdown-menu" class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Chat Boards", boards_path %></li>
                <li class="divider"></li>
                <li><%= link_to "EULA & Terms", eula_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, data: { "turbo-method": :delete } %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <li><%= link_to "EULA & Terms", eula_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
<% end %>
